
/* customize for body */ 

/* customize for topbar */ 
#topbar,#topbar .btn-dropdown span { color:#93999d} 
#topbar a,#topbar .form-control { color:#635D5D;} 
.btn-top .form-control,.btn-group .dropdown-menu,#search .input-search { background-color:#C4D8E2;color: #635D5D;} 
#topbar .fa,#topbar .btn.btn-theme-normal .fa,#search .fa,.btn-group .item-symbol { color:#ffffff} 

/* customize for header-main */ 

/* customize for pav-mainnav */ 
#pav-mainnav,#pav-mainnav .navbar-default { background-color:#01BAFF;font-size: 14px;} 
#pav-mainnav p,#pav-mainnav .widget-html,.pav-megamenu h1, .pav-megamenu h2, .pav-megamenu h3, .pav-megamenu h4, .pav-megamenu h5, .pav-megamenu h6 { color:#1ea10d} 
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    	font-family: khmer os!important;
}
/* customize for pav-verticalmenu */ 
#pav-verticalmenu .box-heading { background-color:#fa03bb} 
#pav-verticalmenu .box-heading { color:#ffffff} 

				.shapes.round
			 { background-color:#d455b3} 

				#pav-verticalmenu p,#pav-verticalmenu .widget-html,.verticalmenu h1, .verticalmenu h2, .verticalmenu h3, .verticalmenu h4, .verticalmenu h5, .verticalmenu h6
			 { color:#1ea10d} 

				
					.verticalmenu .navbar-nav &gt; li &gt; a, .verticalmenu .navbar-nav &gt; li &gt; a &gt; .caret,.verticalmenu .navbar-nav &gt; li &gt; a span
								
			 { color:#1ea10d} 
#pav-verticalmenu .dropdown-menu ul li a { color:#3e474b} 

				#pav-verticalmenu .box-content,#pav-verticalmenu .navbar-nav &gt; li
			 { border-color:#1ea10d} 

/* customize for footer-center */ 

/* customize for product */ 
.price { color:#1ea10d} 

				.btn.btn-shopping-cart .fa,.product-block .product-icon
			 { color:#fffff} 

				.btn.btn-shopping-cart
			 { color:#ffffff} 

				.btn.btn-shopping-cart
			 { background-color:none;} 
